page-recuperar {

  .botao{
    border-radius: 30px !important;
  }

  ion-item{
    border-radius: 30px !important;
    padding-left: 10px;
    margin-bottom: 10px;
    opacity: 1;
    font-size: 0.9em;
  }


}
